.StrapiContentLink__modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .StrapiContentLink__iframe {
    background: var(--background-workspace-color);
    border: 0.0625rem solid var(--base-color-neutral-900);
    border-radius: 1rem;
    width: 90vw;
    height: 90vh;
  }
}
