.PickerShortcuts {
  &.MuiList-root {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--standard-padding-s);

    .PickerShortcuts__label {
      font-size: var(--typescale-size-default-s);
      color: var(--typography-secondary-color);
    }

    .PickerShortcuts__listItem {
      padding: 0;
    }
  }
}