.GroupPropertyLinkCard {
  .MuiCard-root {
    min-width: 0;
    gap: 0;
    .LinkCardContent {
      overflow: hidden;
      &.MuiCardContent-root {
        .LinkCardContent__textWrapper {
          overflow: hidden;
          .LinkCardContent__labelWrapper {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
