@import '../MetricsCard/common/metricsCard.css';

.MetricsCardList {
  &.CardList {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: visible;
    max-width: 100%;
    min-height: var(--MetricCard-height);
  }
}
