@import '../../../styles/typography.css';

.InputLabel {
  &.MuiInputLabel-root {
    color: var(--typography-secondary-color);
    position: relative;
    transform-origin: 0;
    max-width: none;
    left: inherit;
    top: inherit;
    transform: none;
    transition: none;
    margin-bottom: 0.25rem;

    &.Mui-error,
    &.Mui-focused {
      color: var(--typography-secondary-color);
    }

    &.Mui-disabled {
      color: var(--base-color-neutral-600);
    }
  }
}

/* NOTE there is some weird behavior here.  We should be able to just put these
   above, however, it doesn't seem to be adding the extends selector correctly */
.InputLabel.MuiInputLabel-root {
  @extend .body-1;
}

.InputLabel.MuiInputLabel-root.MuiInputLabel-shrink {
  @extend .caption;
  margin-bottom: 0.25rem;
}
