@import './common/datePickerCalendar.css';

.DatePickerWeekCalendar {
  &.MuiPickersLayout-root {
    font-family: var(--typography-family-default);
    border-radius: var(--border-radius-s);
    min-width: min-content;
    width: min-content;

    .MuiDayCalendar-weekContainer, .MuiDayCalendar-header {
      gap: 0;
      display: flex;
      flex-direction: row;

      > .MuiPickersDay-root {
        flex-grow: 1;
        &:not(:first-of-type)&:not(:last-of-type) {
          flex-grow: 2;
        }
      }
    }
  }
}
