.ExhibitCardSkeleton {
  .ExhibitCardSkeleton__healthState {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      gap: var(--standard-padding-s);
      
      .ExhibitCardSkeleton__healthStateIcon {
        height: 0.9rem;
        width: 0.9rem;
        margin: 0.3rem;
        border-radius: var(--border-radius-xs);
      }
      
      .ExhibitCardSkeleton__healthStateText.MuiSkeleton-root {
        height: 0.625rem;
        width: 6.875rem;
      }
    }
}
