.ListTooltipContent {
  display: flex;
  flex-direction: column;
  gap: var(--standard-padding-xs);
  .ListTooltipContent__items {
    display: flex;
    align-items: center;
    gap: var(--standard-padding-s);
    .ListTooltipContent__itemLabel {
      display: flex;
      text-align: left;
      font-weight: normal;
      font-size: var(--typescale-size-default-s);
      color: var(--base-color-neutral-700);
      line-height: var(--typography-line-height-regular);
    }
    .ListTooltipContent__itemValue {
      display: flex;
      text-align: left;
      font-weight: normal;
      font-size: var(--typescale-size-default-s);
      color: var(--base-color-neutral-900);
      line-height: var(--typography-line-height-regular);
    }
  }
}
