.CustomHardwareFieldPropertyWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--standard-padding-m);

  .CustomHardwareFieldPropertyWrapper__labelAndActionWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--standard-padding-m);
    .CustomHardwareFieldPropertyWrapper__labelWrapper {
      overflow: hidden;
      & > span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .CustomHardwareFieldPropertyWrapper__buttonWrapper {
      display: flex;
      gap: var(--standard-padding-s);
    }
  }
}
