.DateTimeAccordionPicker {
  width: 19.6rem;
  
  .DateTimeAccordionPicker__inputContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--standard-padding-s);
    padding-bottom: var(--standard-padding-s);
  
    .Input {      
      .MuiSvgIcon-root {
        width: 1.25rem;
        height: 1.25rem;
      }
      
      .Input__errorAdornment {
        display: none;
      }
    }
    
    .FormHelperText {
      grid-column: 1 / -1;
    }
  }
  
  .DateTimeAccordionPicker__accordion {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    justify-content: center;
    
    &.DateTimeAccordionPicker__accordionOpen {
      margin-top: var(--standard-padding-s);
      margin-bottom: var(--standard-padding-s);
      opacity: 1;
      border-top: 0.0625rem solid var(--base-color-neutral-400);
      border-bottom: 0.0625rem solid var(--base-color-neutral-400);
    }
    
    .DateTimeAccordionPicker__calendar {
      .MuiDateCalendar-root {
        margin: var(--standard-padding-m) 0;
      }

      .MuiPickersLayout-contentWrapper .MuiDateCalendar-root .MuiYearCalendar-root {
        width: 19.6rem;
      }
      
      /* Hides the "Today" button */
      .MuiDialogActions-root {
        display: none;
      }
    }
    
    .DateTimeAccordionPicker__clock {
      max-width: fit-content;
      max-height: 18.75rem;
      padding-bottom: 0;
      border: 0;
      
      .MuiMultiSectionDigitalClock-root {
        max-height: 1000px;
      }
    }
  }
}