@import '../buttons/common/button.css';

.Fab {
  &.MuiFab-root {
    display: flex;
    gap: .375rem;
    font-size: var(--typography-button-font-size);
    
    &.MuiFab-default {
      text-transform: var(--typography-transform-regular);
      background-color: var(--button-primary-background-color);
      box-shadow: none;
      border: 0.0625rem solid var(--button-primary-border-color);
      color: var(--button-primary-typography-color);
      
      &:hover {
        background: var(--button-primary-hover-background);
      }
  
      &:active {
        background: var(--button-primary-active-background);
        color: var(--button-primary-active-typography-color);
      }
  
      &.Mui-disabled {
        color: var(--button-primary-disabled-typography-color);
      }
    }
    
    &.MuiFab-extended {
      height: 2.5rem;
    }
  }
}