.CardButton {
  &.MuiPaper-root {
    border: var(--standard-border);
    border-radius: var(--border-radius-s);
    transition: filter var(--transitions-duration-short3)
      var(--transitions-easing-standard);
  }

  /* States */
  &.CardButton__clickable {
    cursor: pointer;

    &.MuiCard-root:hover:not(.CardButton__disabled) {
      filter: var(--shadow-m-1-filter);
    }

    &:focus-visible {
      outline: 0.0625rem solid var(--button-focus-outline-color);
      outline-offset: var(--button-focus-visible-outline-offset);
    }
    
    &.CardButton__disabled {
      cursor: default;
    }
  }

  &.CardButton__selected {
    border-color: var(--base-color-neutral-500);
  }
}
