.ColorComponentProperty {
  &.MuiCard-root,
  & {
    display: flex;
    flex-direction: column;
    gap: var(--standard-padding-m);
    min-height: 4.375rem;
    justify-content: center;
    min-width: 0;
    align-items: normal;

    .ColorComponentProperty__propertyValues {
      display: flex;
      flex-direction: column;
      gap: var(--standard-padding-s);
      width: 100%;

      .ColorComponentProperty__row {
        display: flex;
        flex-direction: row;
        gap: var(--standard-padding-s);

        .MuiFormControl-root {
          /* disable arrows on number input */
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          .MuiInputBase-root .MuiInputBase-input {
            text-align: left;
          }
        }

        .ColorComponentProperty__rowIndex {
          width: 4rem;
          justify-content: center;
          align-items: center;
          &.MuiFormControl-root {
            .MuiInputBase-root .MuiInputBase-input::placeholder {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
