:root {
  --MainPanel-border-color: var(--line-color);
  --MainPanel-border-style: solid;
  --MainPanel-border-width: 0.0625rem;
  --MainPanel-border-radius: 1.875rem;

  @media (width < 800px) {
    --MainPanel-border-radius: 2rem;
  }
}

%MainPanelShared {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

%MainPanelContentWrapperShared {
  height: 100%;
  display: grid;
  overflow: hidden;
}

%MainPanelContentWrapperMobileShared {
  border-radius: var(--MainPanel-border-radius);
}
