@import '../../../../styles/typography.css';

.CountBadge {
  @extend .caption;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--base-color-neutral-300);
  color: var(--base-color-neutral-900);
  height: 1.25rem;
  min-width: 1.25rem;
  max-width: 100%;
  width: fit-content;
  border-radius: var(--border-radius-full);

  & > .CountBadge__count {
    padding: 0 0.38rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
