@import './common/mainPanel.css';

:root {
  --MainPanel-mobile-nav-height: 5.5rem;
}

.MainPanel {
  @extend %MainPanelShared;

  .MainPanel__contentWrapper {
    height: 100%;
    @extend %MainPanelContentWrapperShared;

    &.MainPanel__contentWrapper_mobile {
      @extend %MainPanelContentWrapperMobileShared;
      border-top-left-radius: var(--MainPanel-border-radius);
    }

    &.MainPanel__contentWrapper_withMenu {
      grid-template-columns: max-content 1fr;
    }

    &.MainPanel__contentWrapper_withoutMenu {
      grid-template-columns: 1fr;
      border-top-left-radius: var(--MainPanel-border-radius);
    }

    .MainPanel__menu {
      border-top-left-radius: var(--MainPanel-border-radius);
      background-color: var(--background-workspace-color);
      border-right: var(--MainPanel-border-width) var(--MainPanel-border-style)
        var(--MainPanel-border-color);
      overflow: hidden;
      align-items: left;
      justify-content: left;
      display: flex;
      flex-direction: column;
    }
    .MainPanel__sectionWrapper {
      display: flex;
      overflow-y: auto;
      height: 100%;
      .MainPanel__mainContent {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: var(--background-workspace-color);
        border-top-right-radius: var(--MainPanel-border-radius);
        flex: 1;
      }
      .MainPanel__collapsableSectionWrapper {
        height: 100%;
        .MainPanel__coplanarContent {
          height: 100%;
          border-top-left-radius: var(--MainPanel-border-radius);
          border-top-right-radius: var(--MainPanel-border-radius);
          background-color: var(--background-workspace-color);
          width: 30rem;
          margin-left: 0.75rem;
          padding: var(--content-padding-vertical)
            var(--content-padding-horizontal);
          padding-bottom: 0;

          /* This is a workaround to allow the scrollbar to not obscure the properties */
          &:has(.CustomHardwarePropertiesSubpage) {
            padding-right: var(--standard-padding-m);
          }
          &:has(.properties) {
            padding-right: var(--standard-padding-s);
          }
        }
      }
      .MainPanel__coplanarContentMobile {
        position: absolute;
        background-color: var(--background-workspace-color);
        padding: var(--content-padding-vertical)
          var(--content-padding-horizontal);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
      }
    }
  }
  .MainPanel__menuMobile {
    display: flex;
    height: var(--MainPanel-mobile-nav-height);
    justify-content: center;
  }
}
