.DateControl {
  --DateControl-gap: 0.375rem;
  --DateControl-iconSize: 1.25rem;

  .MuiSvgIcon-root {
    font-size: var(--DateControl-iconSize);
  }

  .MuiInputBase-root {
    width: 10rem;

    .MuiSelect-select.MuiInputBase-input {
      padding-right: calc(var(--DateControl-iconSize) + var(--DateControl-gap));
    }
  }

  .DateControl__currentValue {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--DateControl-gap);
    align-items: center;

    & span {
      flex-grow: 1;
    }
  }
}
