.DialogTitle {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: space-between;
  gap: 1rem;
  min-height: 2.375rem;

  & h2 {
    margin-top: 0.4375rem;
    margin-bottom: 0;
    padding-right: var(--standard-padding-m);
  }

  & h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: var(--standard-padding-m);
  }

  & h2 + h3 {
    margin-top: 0.25rem;
  }

  .DialogTitle__closeButton {
    margin-right: -0.5rem;
  }
}
