.ExhibitControls__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: var(--content-padding-vertical);

  .ExhibitControls__alert {
    min-width: 15rem;
    max-width: 47.875rem;
    width: fit-content;
  }
}