@import '../../../styles/base.css';
@import './common/multiSectionDigitalClock.css';

.MultiSectionDigitalClock.MuiMultiSectionDigitalClock-root {
  @extend %multiSectionDigitalClockShared;
  background-color: var(--background-workspace-color);
  width: fit-content;
  margin: 0;
  padding: var(--standard-padding-m);
  border: var(--standard-border);
  border-radius: var(--border-radius-s);

  ul.MuiList-root.MuiMultiSectionDigitalClock-root {
    @extend %multiSectionDigitalClockListShared;
  }
}
