@import '../../../styles/typography.css';

.Input {
  --input-error-color: var(--base-color-red-300);
  --input-background-color: var(--background-workspace-color);

  --input-border-color: var(--base-color-neutral-400);
  --input-border-color-active: var(--base-color-neutral-600);
  --input-border-color-disabled: var(--base-color-neutral-400);
  --input-border-color-error: var(--input-error-color);
  --input-border-color-hover: var(--base-color-neutral-500);

  --input-color: var(--base-color-neutral-900);
  --input-color-active: var(--typography-primary-color);
  --input-color-disabled: var(--base-color-neutral-400);
  --input-color-error: var(--base-color-neutral-900);
  --input-color-hover: var(--base-color-neutral-900);

  --input-error-icon-color: var(--input-error-color);

  &.MuiInputBase-root {
    @extend .body-1;
    color: var(--input-color);
    background-color: var(--input-background-color);
    border-width: 0.0625rem;
    border-radius: 0.5rem;
    border-color: var(--input-border-color);
    border-style: solid;
    padding: 0 0.625rem;
    margin-top: 0;

    .MuiInputBase-input {
      line-height: 2.375rem;
      padding: 0;
      height: auto;

      &[type='number'] {
        text-align: right;
      }
    }

    .MuiInputBase-inputMultiline {
      line-height: var(--typography-line-height-regular);
      padding-top: 0.4375rem;
      padding-bottom: 0.4375rem;
    }

    &:focus-within {
      border-color: var(--input-border-color-active);
      color: var(--input-color-active);
    }

    &:hover {
      border-color: var(--input-border-color-hover);
      color: var(--input-color-hover);
    }

    &.Mui-error {
      border-color: var(--input-border-color-error);
      color: var(--input-color-error);
    }

    &.Mui-disabled {
      border-color: var(--input-border-color-disabled);
      color: var(--input-color-disabled);
    }

    &.MuiInputBase-adornedEnd:has(
        .MuiInputAdornment-positionEnd .InputAdornmentButton
      ) {
      padding-right: 0.375rem;
    }

    .MuiInputAdornment-root {
      color: var(--typography-secondary-color);
    }

    .Input__errorAdornment {
      color: var(--input-error-icon-color);
    }
  }
}

/* NOTE: I think there may be a bug using @extend in nested styles */
.Input.MuiInputBase-root .MuiInputBase-input::placeholder {
  @extend .body-1;
  color: var(--base-color-neutral-500);
  opacity: 1;
}
