.AddRemoveExhibitControlsList {
  display: flex;
  flex-direction: column;
  gap: var(--content-padding-vertical);
  background: var(--background-workspace-color);
  overflow-y: auto;

  .ActionTriggerCardList__cards {
    display: block;
  }
}