@import '../../styles/typography.css';
/* For some reason, I had to add this to get the button outline. */
@import '../common/buttons/common/button.css';

.RecipientIndicator {
  --ri-current-user-background-opacity: 0;
  --ri-current-user-padding: 0.125rem;
  --ri-current-user-cursor: inherit;
  --ri-you-label-max-width: 0;
  --ri-you-label-opacity: 0;
  --ri-you-label-padding-left: 0;
  --ri-you-label-translate-x: -1rem;

  display: flex;
  align-items: center;
  gap: 0.125rem;
  border-radius: var(--border-radius-full);
  max-width: max-content;

  .RecipientIndicator__currentUser {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-full);
    background-color: rgba(
      var(--base-color-neutral-200-rgb-raw),
      var(--ri-current-user-background-opacity)
    );
    padding: var(--ri-current-user-padding);
    transition: all 0.2s;
    overflow: hidden;
    cursor: var(--ri-current-user-cursor);

    &:focus-visible {
      outline: var(--button-focus-visible-outline);
    }

    .UserAvatar {
      width: 1.5rem;
      height: 1.5rem;
      border: 0.0625rem solid rgba(255, 254, 252, 1);
    }

    .RecipientIndicator__youLabel {
      @extend .caption;
      position: relative;
      z-index: 0;
      color: var(--base-color-neutral-800);
      width: var(--ri-you-label-max-width);
      opacity: var(--ri-you-label-opacity);
      padding-left: var(--ri-you-label-padding-left);
      text-align: right;
      transform-origin: right;
      transition: all var(--transitions-duration-short3)
        var(--transitions-easing-standard);
    }
  }

  .RecipientIndicator__userCount {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-full);
    color: var(--base-color-neutral-800);
    background-color: var(--base-color-neutral-200);
    padding: var(--standard-padding-xs) 0.625rem var(--standard-padding-xs)
      var(--standard-padding-s);

    .MuiSvgIcon-root {
      width: 1.25rem;
      height: 1.25rem;
    }

    .RecipientIndicator__userCountLabel {
      @extend .caption;
      color: var(--base-color-neutral-800);
    }
  }

  &.RecipientIndicator__open {
    --ri-current-user-background-opacity: 1;
    --ri-current-user-padding: 0.125rem 0.625rem 0.125rem 0.125rem;
    --ri-you-label-max-width: auto;
    --ri-you-label-opacity: 1;
    --ri-you-label-padding-left: var(--standard-padding-xs);
    --ri-you-label-translate-x: 0;
  }

  &.RecipientIndicator__button {
    --ri-current-user-cursor: pointer;
  }
}
