@import '../../../../../../MainPanel/MainPanelCoplanar/common/mainPanelCoplanarSubpageBlock';

.CustomHardwarePropertyArrayWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--standard-padding-m);
  &:has(.CustomHardwarePropertyArrayWrapper__subpage) {
    height: 100%;
  }

  .CustomHardwarePropertyArrayWrapper__labelAndActionWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--standard-padding-m);

    .CustomHardwarePropertyArrayWrapper__labelWrapper {
      display: flex;
      overflow: hidden;
      > span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        gap: var(--standard-padding-s);
      }
      .CustomHardwarePropertyArrayWrapper__subpageBackButton {
        transform: rotate(90deg);
        margin-right: var(--standard-padding-s);
      }
    }

    .CustomHardwarePropertyArrayWrapper__actionButtonWrapper {
      display: flex;
      gap: var(--standard-padding-s);

      .CustomHardwarePropertyArrayWrapper__uploadButton {
        &:has(:focus-visible) {
          outline: 0.0625rem solid var(--base-color-neutral-500);
          outline-offset: 0.25rem;
        }
      }
    }
  }
  .CustomHardwarePropertyArrayWrapper__viewAllButton {
    gap: 0.375rem;
    > .MuiSvgIcon-root {
      height: 1.25rem;
      width: 1.25rem;
      transform: rotate(-90deg);
      color: var(--button-primary-typography-color);
    }
    &:active > .MuiSvgIcon-root {
      color: var(--button-primary-active-typography-color);
    }
  }

  .CustomHardwarePropertyArrayWrapper__subpage {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--standard-padding-m);

    .CustomHardwarePropertyArrayWrapper__subpageValues {
      flex-direction: column;
      overflow-y: scroll;
      display: flex;
      gap: var(--standard-padding-s);
    }
  }
}

.CustomHardwarePropertyArrayWrapper
  .CustomHardwarePropertyArrayWrapper__subpage
  .CustomHardwarePropertyArrayWrapper__subpageValues {
  @extend %MainPanelCoplanarSubpageBlockShared;
}
