@import '../../styles/typography.css';

.PasswordResetView {
  & h1 {
    @extend .body-2;
    text-align: left;
    font-size: 20px;
    margin: 0;
  }

  & p {
    @extend .body-1;
    text-align: left;
    margin: 0;
    color: var(--typography-secondary-color);
  }

  & form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--content-padding-vertical);

    & .PasswordResetView__actionsWrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: var(--standard-padding-m);
    }

    & .PasswordResetView__titleWrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: var(--standard-padding-m);
    }
  }
}
