@import '../../styles/typography.css';

.ResetPasswordView {
  & h1 {
    @extend .body-2;
    text-align: left;
    font-size: 1.25rem;
    margin: 0;
  }
  & h2 {
    @extend .body-1;
    text-align: left;
    margin: 0;
    color: var(--typography-secondary-color);
  }

  & form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--content-padding-vertical);

    & .ResetPasswordView__inputWrapper,
    & .ResetPasswordView__actionsWrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: var(--standard-padding-m);

      .actionAdornment {
        width: 1.25rem;
        height: 1.25rem;

        > .MuiSvgIcon-root {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }

    & .ResetPasswordView__titleWrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: var(--standard-padding-m);
    }
  }
}
