%MainPanelCoplanarSubpageBlockShared {
  padding: var(--standard-padding-m);
  border: 0.0625rem solid var(--base-color-neutral-400);
  border-radius: var(--border-radius-s);
  background-color: var(--background-workspace-color);
  min-height: 2.375rem;
  min-width: 100%;
  gap: 1rem var(--standard-padding-m);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
