@import '../../../../styles/typography.css';

.MainPanelCoplanarSubpageCardHeader {
  &.MuiCardContent-root {
    width: 100%;
    display: flex;
    gap: var(--standard-padding-s);
    padding: 0;

    .MainPanelCoplanarSubpageCardHeader__textContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      gap: var(--standard-padding-xs);
      overflow: hidden;

      .MainPanelCoplanarSubpageCardHeader__title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &:last-child {
      /* Mui tries to enforce bottom padding if we don't do this. */
      padding-bottom: 0;
    }
  }
}

.MainPanelCoplanarSubpageCardHeader .MainPanelCoplanarSubpageCardHeader__title {
  @extend .body-1;
}

.MainPanelCoplanarSubpageCardHeader .MainPanelCoplanarSubpageCardHeader__subtitle {
  @extend .caption;
}
