.DigitalClockSectionItem {
  /* (base) Enabled=True, Selected=False, State=Default */
  --dcsi-item-base-text-color: var(--base-color-neutral-900);
  
  /* (disabled-hover) Enabled=False, Selected=False, State=Hover */
  --dcsi-item-disabled-hover-background-color: `var(--base-color-neutral-900);
  --dcsi-item-disabled-hover-text-color: var(--base-color-neutral-900);

  &.MenuItem {
    border-radius: var(--border-radius-full);
    padding: 0;
    background: none;
    
    color: var(--dcsi-item-base-text-color);
    
    & button.Button {
      border: none;
      min-width: initial;
      width: 3.5rem;
      padding: 0;
    }
    
    &.Mui-selected,
    &.Mui-disabled {
      background: none;
      
      &:hover,
      &:active {
        background: none;
      }
    }
    
    &.Mui-disabled {
      &:hover {
        & button.Button {
          background: var(--dcsi-item-disabled-hover-background-color);
          color: var(--dcsi-item-disabled-hover-text-color);
        }
      }
    }
  }
}