/* Shadow Color Variables */
:root {
  --shadow-m-color: rgb(var(--base-color-neutral-900-rgb-raw), 0.08);
  --shadow-l-color: rgb(var(--base-color-neutral-900-rgb-raw), 0.12);
}

/* Shadow Filter Variables */
:root {
  --shadow-m-1-filter: drop-shadow(0 0.125rem 0.75rem var(--shadow-m-color));
  --shadow-m-inverse-1-filter: drop-shadow(
    0 -0.125rem 0.75rem var(--shadow-m-color)
  );
  --shadow-m-2-filter: drop-shadow(0.125rem 0 0.75rem var(--shadow-m-color));
  --shadow-m-inverse-2-filter: drop-shadow(
    -0.125rem 0 0.75rem var(--shadow-m-color)
  );
  --shadow-l-filter: drop-shadow(0 0.25rem 1rem var(--shadow-l-color));
}

/* Utility Classes */
%shadow-m-1 {
  filter: var(--shadow-m-1-filter);
}

.shadow-m-1 {
  @extend %shadow-m-1;
}

.shadow-m-inverse-1 {
  filter: var(--shadow-m-inverse-1-filter);
}

.shadow-m-2 {
  filter: var(--shadow-m-2-filter);
}

.shadow-m-inverse-2 {
  filter: var(--shadow-m-inverse-2-filter);
}

.shadow-l {
  filter: var(--shadow-l-filter);
}
