.Toast {
  &.Toast__type__success {
    .Toast__icon {
      color: var(--base-color-green-600);
    }
  }
  
  &.Toast__type__error,
  &.Toast__type__error_connection {
    .Toast__icon {
      color: var(--base-color-orange-600);
    }
  }
  
  &.Toast__type__loading {
    .Toast__icon {
      color: var(--base-color-neutral-600);
      animation: rotate 1.2s linear infinite;
    }
  }
}

/* Define the keyframes for the rotation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
