@import '../../styles/typography.css';

.Toast {
  --toast-icon-background: var(--background-workspace-color);
  --toast-background: var(--base-color-neutral-300);
  --toast-inset: 2rem;
  --toast-multiplier: 3.5rem;

  &.MuiSnackbar-root {
    box-shadow: none;
    min-height: 2.75rem;
    max-width: 25rem;
    width: fit-content;
    left: var(--toast-inset);
    right: var(--toast-inset);
    transition: margin-bottom var(--transitions-duration-medium2)
      var(--transitions-easing-standard);

    &.Toast__hasIcon {
      .Toast__content {
        padding-left: var(--standard-padding-s);
      }
    }

    &.MuiSnackbar-anchorOriginBottomCenter {
      margin: 0 auto;
      bottom: var(--toast-inset);
    }

    /* Negates MUI breakpoint styles */
    @media (min-width: 600px) {
      left: var(--toast-inset);
      right: var(--toast-inset);
      transform: none;
    }
  }

  .Toast__content {
    padding: var(--standard-padding-s) var(--standard-padding-m);
    background-color: var(--toast-background);
    border-radius: 1.375rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--standard-padding-s);
  }

  .Toast__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-full);
    background-color: var(--toast-icon-background);
    min-width: 1.75rem;
    min-height: 1.75rem;
    color: var(--base-color-neutral-800);

    .MuiSvgIcon-root {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .Toast__message {
    min-height: 1.75rem;
    padding: 0.125rem 0;
    display: flex;
    align-items: center;
  }
}

.Toast .Toast__content .Toast__message {
  @extend .body-1;
}
