@import '../../../styles/effects/shadows.css';

.Select {
  .MuiSelect-icon {
    color: var(--base-color-neutral-700);
  }

  &:hover {
    .MuiSelect-icon {
      color: var(--base-color-neutral-900);
    }
  }

  &:active {
    .MuiSelect-icon {
      color: var(--base-color-neutral-800);
    }
  }
}

/* The menu is not render inside the DOM element of the select, thus menu styling is handled here */
/* Again, we shouldn't have avoid the nesting here, but extending and nesting don't seem to work well together */
.Select__Menu .MuiPaper-root {
  @extend %shadow-m-1;
  box-shadow: none;
  border-radius: var(--border-radius-s);
  border: 0.0625rem solid var(--line-color);

  .MuiList-root {
    padding: var(--standard-padding-xs) 0;
  }
}
