@import '../../../../styles/typography.css';

.ExhibitComponentAuthInfoDialog {
  .MuiDialog-container .MuiPaper-root {
    width: 30rem;
    max-width: 30rem;
  }

  .DialogContent {
    display: flex;
    flex-direction: column;
    gap: var(--standard-padding-m);
    color: var(--typography-primary-color);

    .EntityCardBanner {
      min-height: 10rem;
      border: 1px solid var(--line-color);
      border-radius: var(--border-radius-s);
      position: relative;

      &::before {
        background-image: url('../assets/ExhibitComponentsBackground-white.svg');
        opacity: 0.5;
      }

      &::after {
        content: '';
        position: absolute;
        background: url('./assets/ripple.svg') no-repeat center;
        width: 18.75rem;
        height: 18.75rem;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .ExhibitComponentAuthInfoDialog__entityCardBannerImage__custom-hardware {
        width: 6rem;
        max-width: 6rem;
      }
    }

    .ExhibitComponentAuthInfoDialog__descriptionContainer {
      color: var(--typography-secondary-color);
    }

    .ExhibitComponentAuthInfoDialog__authInfoContainer {
      border: 1px solid var(--line-color);
      border-radius: var(--border-radius-s);

      & > .ExhibitComponentAuthInfoDialog__authInfoContainer__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.5rem;
        padding: 0 var(--standard-padding-m);

        &:not(:last-child) {
          border-bottom: 1px solid var(--line-color);
        }

        .ExhibitComponentAuthInfoDialog__authInfoContainer__value {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: var(--base-color-neutral-900);

          & .CopyIconButton {
            outline-offset: -0.125rem;
          }
        }
      }
    }
  }
}

.ExhibitComponentAuthInfoDialog .DialogTitle h2 {
  @extend .subheading;
}
