@import '../../../../styles/typography.css';

.MainPanel__coplanarTitleWrapper {
  --negative-button-padding: -0.5rem;

  margin-bottom: var(--content-padding-vertical);
  display: flex;
  flex-direction: column;
  gap: var(--standard-padding-s);

  .MainPanel__coplanarTitleTop {
    display: flex;
    gap: var(--standard-padding-xs);
    align-items: center;
    overflow: visible;

    .MainPanel__coplanarBackButtonWrapper {
      margin-left: var(--negative-button-padding);
    }

    .MainPanel__coplanarTitleText {
      flex: 1 0 0;
      @extend .body-1;
      color: var(--typography-secondary-color);
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .MainPanel__coplanarCloseButtonWrapper {
      margin-right: var(--negative-button-padding);
    }
  }

  .MainPanel__coplanarTitleBottom {
    display: flex;
    gap: var(--standard-padding-m);

    .MainPanel__coplanarTitleSubtitleContainer {
      display: flex;
      flex-direction: column;
      gap: var(--standard-padding-xs);
      flex-grow: 1;
      /* Yes, this is 7px padding - confirmed with design  */
      padding-top: 0.4375rem;
      overflow-x: hidden;
    }

    .MainPanel__coplanarTitleActions {
      flex-grow: 0;
    }
  }
}

.MainPanel__coplanarTitleWrapper .MainPanel__coplanarTitleSubtitle {
  @extend .subheading;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MainPanel__coplanarTitleWrapper .MainPanel__coplanarTitleCaption {
  @extend .caption;
}
