.CustomHardwarePropertyArraySkeletonRow {
  display: flex;
  width: 100%;
  gap: var(--standard-padding-s);

  .MuiSkeleton-root {
    height: 2.5rem;
    transform: none;
  }

  .CustomHardwarePropertyArraySkeletonRow__index {
    display: flex;
    flex-grow: 1;
    max-width: 4rem;
  }
  .CustomHardwarePropertyArraySkeletonRow__field {
    display: flex;
    flex-grow: 1;
  }
}
