@import './colors/colors.css';
@import './effects/effects.css';
@import './spacing/padding.css';
@import './fonts.css';
@import './dimensions.css';
@import './radius.css';
@import './transitions.css';
@import './typography.css';
@import-normalize;

:root {
  /**********/
  /* Colors */
  /**********/

  --background-page-color: #f0efef;
  --background-workspace-color: #fffefc;
  --error-color: var(--base-color-red-300);
  --line-color: var(--base-color-neutral-400);
  --line-color-selected: var(--base-color-neutral-500);
  --skeleton-line-color: var(--base-color-neutral-300);

  /**********/
  /* Border */
  /**********/
  --standard-border: 0.0625rem solid var(--line-color);
}

html {
  background-color: var(--background-page-color);
  font-family: var(--typography-family-default);
  font-size: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* Make fonts a little more readable */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.clickable {
  cursor: pointer;
}
