@import '../../../styles/typography.css';
@import '../../../styles/effects/shadows.css';

.ColorInput {
  --input-error-color: var(--base-color-red-300);
  --input-background-color: var(--background-workspace-color);

  --input-border-color: var(--base-color-neutral-400);
  --input-border-color-active: var(--base-color-neutral-600);
  --input-border-color-disabled: var(--base-color-neutral-400);
  --input-border-color-error: var(--input-error-color);
  --input-border-color-hover: var(--base-color-neutral-500);

  --input-color: var(--base-color-neutral-900);
  --input-color-active: var(--typography-primary-color);
  --input-color-disabled: var(--base-color-neutral-400);
  --input-color-error: var(--base-color-neutral-900);
  --input-color-hover: var(--base-color-neutral-900);

  background-color: var(--input-background-color);
  border-radius: var(--border-radius-s);
  width: 100%;

  .MuiInputBase-root {
    display: flex;
    color: var(--input-color);
    height: 2.375rem;
    width: 100%;
    border-radius: var(--border-radius-s);
    border: 0.0625rem solid var(--input-border-color);
    padding: 0 0.625rem;

    .MuiButtonBase-root {
      height: 20px;
      width: 20px;
      box-shadow: none;
      border: 1px solid var(--input-border-color-disabled);
    }

    &:focus-within {
      border-color: var(--input-border-color-active);
      outline: none;
      color: var(--input-color-active);
    }

    &:hover:not(:focus-within) {
      border-color: var(--input-border-color-hover);
      color: var(--input-color-hover);
    }

    &.Mui-error {
      border-color: var(--input-border-color-error);
      color: var(--input-color-error);
    }

    &.Mui-disabled,
    &.Mui-disabled:hover {
      border-color: var(--input-border-color-disabled);
      color: var(--input-color-disabled);
    }

    .ColorInput__adornmentDot {
      display: flex;
      justify-content: center;
      width: 20px;
      height: 20px;
    }
  }

  .MuiOutlinedInput-notchedOutline {
    border: none;
  }
}

.ColorInput__popover {
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPopover-paper {
    --slider-thumb-shadow-color: rgba(57, 68, 82, 0.08);
    --slider-thumb-box-shadow-hover: 0px 0px 0px 4px
      var(--slider-thumb-shadow-color);
    --slider-thumb-box-shadow-active: 0px 0px 0px 8px
      var(--slider-thumb-shadow-color);

    padding: var(--standard-padding-s);
    padding-bottom: 0;
    border-radius: var(--border-radius-s);
    margin-top: var(--standard-padding-s);
    box-shadow: none;
    border: 1px solid var(--base-color-neutral-400);
    @extend .shadow-m-1;

    .MuiColorInput-ColorSpace {
      border-radius: var(--border-radius-s);
    }

    .MuiSlider-root {
      .MuiSlider-thumb {
        color: var(--base-color-neutral-400);
        &:hover {
          box-shadow: var(--slider-thumb-box-shadow-hover);
          &.Mui-active {
            box-shadow: var(--slider-thumb-box-shadow-active);
          }
        }
        &.Mui-active {
          box-shadow: var(--slider-thumb-box-shadow-active);
        }
      }
      .MuiSlider-thumb::before {
        box-shadow: none;
      }
    }
  }
}

.ColorInput .MuiInputBase-root {
  @extend .body-1;
}

.ColorInput .MuiInputBase-root .MuiInputBase-input::placeholder {
  @extend .body-1;
  color: var(--base-color-neutral-500);
  opacity: 1;
}
