@import '../../../styles/effects/shadows.css';

.ActionTriggerButton {
  width: fit-content;
  &.ActionTriggerButton__success {
    --button-primary-background-color: var(--base-color-green-100);
    --button-primary-hover-background: var(--base-color-green-100);
    --button-primary-typography-color: var(--base-color-green-800);
    --button-primary-disabled-typography-color: var(--base-color-green-800);
  }

  &.ActionTriggerButton__busy {
    .Button.MuiButton-root.primary {
      background: var(--button-primary-active-background);
    }
    --button-primary-disabled-typography-color: var(
      --button-primary-active-typography-color
    );
    .CircularProgress {
      color: var(--button-primary-active-typography-color);
      margin: 0.125rem;
    }
  }
}

.ActionTriggerButton:hover:not(.ActionTriggerButton__disabled),
.ActionTriggerButton:focus:not(.ActionTriggerButton__disabled),
.ActionTriggerButton.ActionTriggerButton__active:not(
    .ActionTriggerButton__disabled
  ) {
  @extend .shadow-m-1;
}
