.ExhibitFilesTable {  
  .TableRow {
    &:hover {
      background-color: var(--base-color-neutral-200);
    }
    
    .TableCell__body {
      padding-top: var(--standard-padding-s);
      padding-bottom: var(--standard-padding-s);
      cursor: pointer;
    }
    
    & > .TableCell {
      padding-left: var(--standard-padding-m);
      padding-right: var(--standard-padding-m);
      
      &.ExhibitFilesTable__checkboxCell {
        width: 4em;
        text-align: center;
      }
      
      &.ExhibitFilesTable__filesCell {
        width: auto;
      }

      &.ExhibitFilesTable__uploadFilesCell {
        color: var(--typography-disabled-color);
      }
      
      &.ExhibitFilesTable__lastUpdatedCell {
        width: 16rem;
        text-align: right;
        
        &.TableCell__body {
          font-family: var(--typography-family-mono);
        }
      }
      
      &.ExhibitFilesTable__sizeCell {
        width: 8rem;
        text-align: right;
        
        &.TableCell__body {
          font-family: var(--typography-family-mono);
        }
      }
      
      &.ExhibitFilesTable__uploadSizeCell {
        color: var(--typography-disabled-color);
      }

      &.ExhibitFilesTable__uploadCell {
        justify-items: center;
      }
      
      &.ExhibitFilesTable__downloadCell {
        width: 5rem;
        text-align: center;
        margin-right: var(--standard-padding-m);
      }
    }
  }
}
