@import '../buttons/common/button.css';

.Breadcrumbs {
  &.MuiBreadcrumbs-root .MuiBreadcrumbs-ol {
    display: flex;
    padding: 0;
    height: 2.375rem;
    column-gap: var(--standard-padding-xs);
    flex-wrap: nowrap;
    overflow-x: auto;

    .MuiBreadcrumbs-separator {
      margin: 0;

      > .MuiSvgIcon-root {
        width: 1.25rem;
        height: 1.25rem;
        transform: rotate(-90deg);
        color: var(--typography-secondary-color);
      }
    }

    & button.MuiButtonBase-root {
      padding: 0;
      background-color: inherit;
      border-radius: var(--border-radius-full);
      height: 1.75rem;
      width: 1.75rem;
      margin: 0 calc(-1 * var(--standard-padding-xs));

      > .MuiSvgIcon-root {
        color: var(--typography-secondary-color);
        width: 1.25rem;
        height: 1.25rem;
      }

      &:hover,
      &:focus-visible {
        background-color: var(--button-ghost-hover-background);
        > .MuiSvgIcon-root {
          color: var(--base-color-neutral-900);
        }
      }

      &:active {
        background-color: var(--button-ghost-active-background);
        > .MuiSvgIcon-root {
          color: var(--button-ghost-active-typography-color);
        }
      }

      &:focus-visible {
        outline-offset: 0.125rem;
        outline: 0.0625rem solid var(--base-color-neutral-500);
      }

      & .MuiTouchRipple-root {
        display: none;
      }
    }

    .MuiBreadcrumbs-li {
      display: flex;
      align-items: center;
      max-width: 12.5rem;
    }
  }

  &.Breadcrumbs__disabled {
    &.MuiBreadcrumbs-root .MuiBreadcrumbs-ol {
      .MuiBreadcrumbs-separator {
        > .MuiSvgIcon-root {
          color: var(--typography-disabled-color);
        }
      }

      & button.MuiButtonBase-root {
        > .MuiSvgIcon-root {
          color: var(--typography-disabled-color);
        }

        &:hover,
        &:focus-visible {
          > .MuiSvgIcon-root {
            color: var(--base-color-neutral-900);
          }
        }

        &:active {
          > .MuiSvgIcon-root {
            color: var(--button-ghost-active-typography-color);
          }
        }
      }
    }
  }
}
