@import './UserToggle.css';

.UserToggleSkeleton {
  @extend .UserToggle;

  .UserToggleSkeleton__avatarSkeleton {
    width: 2rem;
    height: 2rem;
  }

  .UserToggle__labelContainer {
    gap: 0.1rem;

    .UserToggleSkeleton__labelSkeleton {
      @extend .body-1;
      width: 8.75rem;
    }

    .UserToggleSkeleton__captionSkeleton {
      @extend .caption;
      width: 10rem;
    }
  }

  .UserToggleSkeleton__toggleSwitchSkeleton {
    width: 2.375rem;
    height: 1.75rem;
    border-radius: var(--border-radius-full);

    .UserToggle__currentUser & {
      width: 3.375rem;
      height: 2rem;
    }
  }
}
