:root {
  --content-padding-vertical: 1.5rem;
  --content-padding-horizontal: 1.5rem;
  --standard-padding-xs: 0.25rem;
  --standard-padding-s: 0.5rem;
  --standard-padding-m: 1rem;
  --standard-padding-l: 1.5rem;

  /* Looks like you can't use css variables in media queries */
  @media (width < 800px) {
    --content-padding-vertical: 1.25rem;
    --content-padding-horizontal: 1.25rem;
  }
}
