.LinkCard {
  &.MuiCard-root {
    display: flex;
    padding: var(--standard-padding-m);
    border-radius: var(--border-radius-s);
    align-items: center;
    gap: var(--standard-padding-s);
    min-width: min-content;

    .LinkCard__actionsWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--standard-padding-xs);
    }

    .LinkCard__chevronWrapper {
      display: flex;
      height: 2.375rem;
      width: 2.375rem;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      > .MuiSvgIcon-root {
        transform: rotate(-90deg);
        transition:
          margin-left 0.15s cubic-bezier(0.2, 0, 0, 1),
          color 0.15s cubic-bezier(0.2, 0, 0, 1);
        height: 1.25rem;
        width: 1.25rem;
        color: var(--typography-secondary-color);
      }
    }

    &:not(.LinkCard__disabled) {
      &:hover,
      &:focus-visible {
        .LinkCard__chevronWrapper {
          > .MuiSvgIcon-root {
            margin-left: 0.5rem;
            color: var(--base-color-neutral-900);
          }
        }
      }

      &:active {
        .LinkCard__chevronWrapper {
          > .MuiSvgIcon-root {
            margin-left: 0.5rem;
            color: var(--base-color-neutral-800);
          }
        }

        .LinkCardContent {
          &.MuiCardContent-root {
            .LinkCardContent__textWrapper .LinkCardContent__labelWrapper,
            .LinkCardContent__iconWrapper > .MuiSvgIcon-root {
              color: var(--base-color-neutral-800);
            }
          }
        }
      }
    }

    &.LinkCard__disabled {
      cursor: default;

      .LinkCard__chevronWrapper {
        > .MuiSvgIcon-root {
          color: var(--typography-disabled-color);
        }
      }
    }
  }
}
