@import '../../styles/typography.css';

.LinkCardContent {
  &.MuiCardContent-root {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    gap: var(--standard-padding-s);

    .LinkCardContent__iconWrapper {
      display: flex;
      align-items: center;
      > .MuiSvgIcon-root {
        height: 1.25rem;
        width: 1.25rem;
        color: var(--typography-primary-color);
      }
    }

    .LinkCardContent__textWrapper {
      .LinkCardContent__labelWrapper {
        @extend .body-1;
        color: var(--typography-primary-color);
      }

      .LinkCardContent__captionWrapper {
        @extend .caption;
        color: var(--typography-secondary-color);
      }
    }

    &.LinkCard__disabled {
      .LinkCardContent__textWrapper .LinkCardContent__labelWrapper,
      .LinkCardContent__textWrapper .LinkCardContent__captionWrapper,
      .LinkCardContent__iconWrapper > .MuiSvgIcon-root {
        color: var(--typography-disabled-color);
      }
    }
  }
}
