@import '../../styles/typography.css';

.IconAccordion {
  --IconAccordion__summary-margin: var(--standard-padding-s);

  border-radius: var(--border-radius-l);
  padding: 0 var(--standard-padding-s);

  &.MuiAccordion-root {
    background-color: var(--base-color-neutral-0);
  }

  &.MuiAccordion-root.Mui-disabled {
    background-color: var(--base-color-neutral-0);
  }

  /* MUI Accordion display a line between each item if more than one accordion
  is next to each other. This removes that line */
  &:before {
    display: none;
  }

  .IconAccordion__summary {
    &.MuiAccordionSummary-root {
      padding: 0;
      min-height: initial;
      gap: var(--standard-padding-m);

      &.Mui-expanded {
        min-height: initial;
      }

      &.Mui-disabled {
        opacity: 1;

        .MuiAccordionSummary-expandIconWrapper {
          display: none;
        }
      }
    }

    .MuiAccordionSummary-content {
      margin: var(--IconAccordion__summary-margin) 0;
      width: 0;
    }

    .MuiAccordionSummary-content.Mui-expanded {
      margin: var(--IconAccordion__summary-margin) 0;
    }

    .IconAccordion__summary__expandIcon {
      &.MuiSvgIcon-root {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    .IconAccordion__summary__wrapper {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: var(--standard-padding-s);
      width: 100%;

      .IconAccordion__summary__labelWrapper {
        flex-grow: 1;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.IconAccordion .IconAccordion__summary {
  @extend .caption;
}
