@import '../../../../styles/typography.css';
@import '../common/navigation.css';

.NavigationButton {
  @extend .body-1;

  &.MuiIconButton-root {
    width: 13rem;
    height: var(--nav-item-height);
    padding: var(--nav-item-padding);
    border-radius: 0.625rem;
    justify-content: flex-start;
    transition: width var(--nav-item-transition-time) ease,
      border-radius var(--nav-item-transition-time) ease,
      margin var(--nav-item-transition-time) ease;
    font-size: 1rem;
    background-color: var(--nav-item-background-color);
    border: 0.0625rem solid var(--nav-item-border-color);
    color: var(--nav-item-content-color);
    margin-left: var(--nav-item-horizontal-margin);
    margin-right: var(--nav-item-horizontal-margin);

    &:focus-visible {
      outline-offset: -0.0625rem;
      outline: 0.0625rem solid var(--nav-item-focus-outline-color);
    }

    &:hover {
      background: var(--nav-item-hover-background);
    }

    &:active {
      background: var(--nav-item-active-background);
      color: var(--nav-item-active-content-color);
    }

    &.NavigationButton__selected {
      color: var(--nav-item-selected-content-color);
      background-color: var(--nav-item-selected-background-color);

      &:hover {
        background: var(--nav-item-selected-hover-background);
      }

      &:active {
        color: var(--nav-item-selected-active-content-color);
        background: var(--nav-item-selected-active-background);
      }
    }

    > .MuiSvgIcon-root {
      height: var(--nav-item-icon-size);
      width: var(--nav-item-icon-size);
    }
  }

  .NavigationButton__label {
    opacity: 1;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 1rem;
    text-align: left;
    max-width: calc(100% - 1rem);
    flex-grow: 1;
    transition: opacity var(--nav-item-transition-time) linear,
      width var(--nav-item-transition-time) ease,
      max-width var(--nav-item-transition-time) ease,
      padding-left var(--nav-item-transition-time) linear;
  }

  &.NavigationButton__collapsed {
    width: var(--nav-item-height);
    /* Can't use the full radius trick here because it causes the transition to snap.  
       This border radius must be equal to half the height/width in order for transitions to look correct */
    border-radius: 1.25rem;
    margin-left: var(--nav-item-collapsed-horizontal-margin);
    margin-right: var(--nav-item-collapsed-horizontal-margin);

    .NavigationButton__label {
      opacity: 0;
      overflow: hidden;
      max-width: 0;
      padding: 0;
    }
  }
}
