.StandardNavigationMenu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: fit-content;
  padding-top: var(--content-padding-vertical);
  padding-bottom: 0.75rem;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;

  .StandardNavigationMenu__backButton {
    margin-bottom: 3rem;
  }

  .StandardNavigationMenu__toggleCollapsedButton {
    margin-top: 3rem;
  }

  .StandardNavigationMenu__menuItemWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.13rem;
    height: 100%;
    overflow-y: auto;
  }
}
