.ExhibitComponentCard {
  .ExhibitComponentCard__content {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
  }

  .EntityCardBanner {
    /* This is a bit of a css trick in order to apply the opacity to the background image without effecting the image itself */
    &:before {
      background-position: 50% 25%;
      background-image: url('../assets/ExhibitComponentsBackground.svg');
      opacity: 50%;
    }

    & img {
      height: 6.5rem;
      width: 6.5rem;
    }
  }
  /* this is to preserve the original sizing on the cards after swapping in the svg images */
  &.ExhibitComponetCard__svg {
    .EntityCardBanner {
      & img {
        height: 6rem;
        width: 6rem;
      }
    }
  }
}
