.ExhibitComponentCardSkeleton {
    .ExhibitComponentCardSkeleton__content {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;

        .ExhibitComponentCardSkeleton__icon {
            height: 1.5rem;
            width: 1.5rem;
            border-radius: var(--border-radius-full);
        }
    
        .ExhibitComponentCardSkeleton__label {
            width: 6.875rem;
            height: 0.625rem;
        }
    }
}
