@import '../../styles/typography.css';

.AlertCard {
  .CardContent {
    display: flex;
    gap: var(--standard-padding-m);
    align-items: center;

    .AlertCard__iconContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      border-radius: var(--border-radius-s);
      background-color: var(--base-color-neutral-200);

      .MuiSvgIcon-root {
        width: 1.25rem;
        height: 1.25rem;
        color: var(--base-color-neutral-900);
      }
    }

    /* MUI Override */
    &:last-child {
      padding-bottom: var(--standard-padding-m);
    }

    .AlertCard__titleContainer {
      flex-grow: 1;
      overflow: hidden;

      .AlertCard__title,
      .AlertCard__subtitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .AlertCard__title {
        @extend .body-1;
      }

      .AlertCard__subtitle {
        @extend .caption;
      }
    }
  }
}
