.CustomHardwareReadOnlyFieldPropertyWrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  gap: var(--standard-padding-m);
  align-items: center;

  .CustomHardwareReadOnlyFieldPropertyWrapper__label {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: 50%;
  }
  .CustomHardwareReadOnlyFieldPropertyWrapper__value {
    color: var(--base-color-neutral-900);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    flex-basis: 50%;
  }
}
