.MainPanelCoplanarSubpageLinkCard {
  margin: var(--standard-padding-m) 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.MainPanelCoplanarSubpageLinkCard + MainPanelCoplanarSubpageLinkCard {
  margin-top: 0;
}
