@import '../../styles/typography.css';

.DetailTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  .DetailTable__header {
    @extend .caption;
    text-align: left;
    vertical-align: top;
    padding: 0 var(--content-padding-horizontal) var(--standard-padding-s) 0;
    width: calc(5.625rem + var(--content-padding-horizontal));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .DetailTable__value {
    @extend .caption;
    color: var(--base-color-neutral-900);
    padding: 0 0 var(--standard-padding-s) 0;
  }
}
