.UserAvatar {
  /** 👇 Variants */
  &.UserAvatar__palette__blue {
    color: var(--base-color-blue-800);
    background-color: var(--base-color-blue-100);
  }

  &.UserAvatar__palette__green {
    color: var(--base-color-green-800);
    background-color: var(--base-color-green-100);
  }

  &.UserAvatar__palette__yellow {
    color: var(--base-color-yellow-800);
    background-color: var(--base-color-yellow-100);
  }

  &.UserAvatar__palette__orange {
    color: var(--base-color-orange-800);
    background-color: var(--base-color-orange-100);
  }

  &.UserAvatar__palette__red {
    color: var(--base-color-red-800);
    background-color: var(--base-color-red-100);
  }

  &.UserAvatar__palette__purple {
    color: var(--base-color-purple-800);
    background-color: var(--base-color-purple-100);
  }

  &.UserAvatar__palette__pink {
    background-color: #fff2fe;
    color: #941e8a;
  }

  &.UserAvatar__palette__teal {
    background-color: #eaf9f7;
    color: #005e4f;
  }

  &.UserAvatar__palette__brown {
    background-color: #f7f1e7;
    color: #664b1a;
  }
}
