.HexColorExhibitSetting_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.HexColorExhibitSetting_label-wrapper {
    flex-basis: 0;
    flex-grow: 1.05;
    align-self: center;
}

.HexColorExhibitSetting_color-input {
    flex-basis: 0;
    flex-grow: 1;
}

@media (1200px <= width) {
    .HexColorExhibitSetting_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    
    .HexColorExhibitSetting_label-wrapper {
        align-self: center;
        justify-self: start;
    }
    
    .HexColorExhibitSetting_color-input {
        max-width: 420px;
        justify-self: end;
    }
}


@media (width < 530px) {
    .HexColorExhibitSetting_wrapper {
        flex-direction: column;
        width: 100%;
    }

    .HexColorExhibitSetting_label-wrapper {
        align-self: start;
        justify-self: start;
        padding: 10px 0;
    }
}