.PresenceTooltipContent__displayRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--standard-padding-xs);
  font-size: var(--typescale-size-default-s);
  font-weight: var(--typography-weight-regular);
  .PresenceTooltipContent__textlow {
    color: var(--base-color-orange-800);
  }
  .PresenceTooltipContent__textmed {
    color: var(--base-color-yellow-800);
  }
  .PresenceTooltipContent__texthigh {
    color: var(--base-color-green-800);
  }
}
