:root {
  --base-color-neutral-1000-rgb-raw: 9, 16, 29;
  --base-color-neutral-1000: rgb(var(--base-color-neutral-1000-rgb-raw));

  --base-color-neutral-900-rgb-raw: 57, 68, 82;
  --base-color-neutral-900: rgb(var(--base-color-neutral-900-rgb-raw));

  --base-color-neutral-800-rgb-raw: 84, 93, 105;
  --base-color-neutral-800: rgb(var(--base-color-neutral-800-rgb-raw));

  --base-color-neutral-700-rgb-raw: 109, 117, 128;
  --base-color-neutral-700: rgb(var(--base-color-neutral-700-rgb-raw));

  --base-color-neutral-600-rgb-raw: 133, 140, 148;
  --base-color-neutral-600: rgb(var(--base-color-neutral-600-rgb-raw));

  --base-color-neutral-500-rgb-raw: 165, 171, 179;
  --base-color-neutral-500: rgb(var(--base-color-neutral-500-rgb-raw));

  --base-color-neutral-400-rgb-raw: 218, 222, 226;
  --base-color-neutral-400: rgb(var(--base-color-neutral-400-rgb-raw));

  --base-color-neutral-300-rgb-raw: 235, 238, 242;
  --base-color-neutral-300: rgb(var(--base-color-neutral-300-rgb-raw));

  --base-color-neutral-200-rgb-raw: 244, 246, 249;
  --base-color-neutral-200: rgb(var(--base-color-neutral-200-rgb-raw));

  --base-color-neutral-100-rgb-raw: 252, 252, 252;
  --base-color-neutral-100: rgb(var(--base-color-neutral-100-rgb-raw));

  --base-color-neutral-0-rgb-raw: 255, 255, 255;
  --base-color-neutral-0: rgb(var(--base-color-neutral-0-rgb-raw));
}
