@import './common/appBreadcrumb.css';

.AppBreadcrumb {
  @extend %appBreadcrumbShared;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;

  &.AppBreadcrumb__workspace {
    --AppBreadcrumbItemList-number-of-items: 1;
  }

  &.AppBreadcrumb__project {
    --AppBreadcrumbItemList-number-of-items: 2;
  }

  &.AppBreadcrumb__exhibit {
    --AppBreadcrumbItemList-number-of-items: 3;
  }

  &.AppBreadcrumb__workspace,
  &.AppBreadcrumb__project,
  &.AppBreadcrumb__exhibit {
    @media (width < 800px) {
      --AppBreadcrumbItemList-number-of-items: 1;
    }
  }

  .AppBreadcrumb__spacer {
    flex-grow: 1;
    min-width: 3rem;
  }

  .AppBreadcrumb__backButton {
    margin-left: 0.3125rem;
  }

  .Breadcrumb {
    max-width: calc(
      var(--AppBreadcrumbItemList-max-width) /
        var(--AppBreadcrumbItemList-number-of-items)
    );

    &:hover,
    &:active,
    &:focus-visible,
    &.Breadcrumb__selected {
      max-width: calc(
        (
            var(--AppBreadcrumbItemList-max-width) /
              var(--AppBreadcrumbItemList-number-of-items)
          ) + 1.375rem
      );

      &:has(.Breadcrumb__avatar + .Breadcrumb__name) {
        max-width: calc(
          (
              var(--AppBreadcrumbItemList-max-width) /
                var(--AppBreadcrumbItemList-number-of-items)
            ) + 0.625rem
        );
      }
    }

    .Breadcrumb__name {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
