.ExhibitLoggingTable {
  display: flex;
  flex-direction: column;
  gap: var(--content-padding-vertical);
  
  .ExhibitLoggingTable__toolbar {
    display: flex;
    justify-content: space-between;
    
    .ExhibitLoggingTable__toolbar__right {
      display: flex;
      gap: var(--standard-padding-s);
    }
  }
  
  .ExhibitLoggingTable__tableWrapper {
    flex-grow: 1;
    container: table-wrapper / size;
    
    .LoggingTable {
      height: 100%;
      
      .TableContainer {
        min-height: 21.875rem;
        height: 100%;
      }
    }
  }
}