.StreamButton {
  max-width: fit-content;
  
  &.StreamButton__active {
    & div.StreamButton__dot {
      background: var(--base-color-green-400);
    }
  }
  
  & button.StreamButton__button {
    --stream-button-easing-time-seconds: 0.3s;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.8125rem;
    overflow: hidden;
    max-width: 15rem;
    min-width: 3.5rem;
    transition: max-width var(--stream-button-easing-time-seconds) ease,
      min-width var(--stream-button-easing-time-seconds)  ease;
  }
  
  .StreamButton__dotContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .StreamButton__dot {
      --stream-button-dot-size: 0.4375rem;
      
      width: var(--stream-button-dot-size);
      height: var(--stream-button-dot-size);
      border-radius: var(--border-radius-full);
      background: var(--base-color-neutral-600);
    }
    
    .StreamButton__backgroundRipple {          
      --stream-button-animation-duration: 1.8s;
      
      position: absolute;
      width: 3.75rem;
      height: 3.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      
      & >div {
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(var(--base-color-green-400-rgb-raw), 0) 0%,
          rgba(var(--base-color-green-400-rgb-raw), 0.2) 100%
        );
        border: 0.0625rem solid var(--base-color-green-400);
        border-radius: var(--border-radius-full);
        position: absolute;
        opacity: 0;
        animation: streamButtonPulse var(--stream-button-animation-duration) infinite linear;
      }
      
      & >div:nth-child(2) {
        animation-delay: calc(var(--stream-button-animation-duration) / 3);
      }
    }
  }
}

@keyframes streamButtonPulse {
  0% {
    opacity: 0.5;
    width: 0.375rem;
    height: 0.375rem;
  }
  33% {
    opacity: 0.3;
    width: 1.25rem;
    height: 1.25rem;
  }
  67% {
    opacity: 0.1;
    width: 2.5rem;
    height: 2.5rem;
  }
  100% {
    opacity: 0;
    width: 3.75rem;
    height: 3.75rem;
  }
}
