@import '../../../styles/typography.css';

.FormHelperText {
  --formHelperText-error-color: var(--base-color-red-300);
  --formHelperText-disabled-color: var(--base-color-neutral-600);

  &.MuiFormHelperText-root {
    @extend .caption;
    color: var(--typography-secondary-color);
    margin: 0.25rem 0 0 0;

    &.Mui-error {
      color: var(--formHelperText-error-color);
    }

    &.Mui-disabled {
      color: var(--formHelperText-disabled-color);
    }
  }
}
