@import '../../styles/typography.css';

.LoginView {
  & form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--content-padding-vertical);

    & .LoginView_inputWrapper,
    & .LoginView__actionsWrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: var(--standard-padding-m);

      .actionAdornment {
        width: 1.25rem;
        height: 1.25rem;
        
        > .MuiSvgIcon-root {
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      .googleAuthenticatorButton {
        .MuiButton-startIcon svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}

.LoginView .welcome {
  @extend .subheading;
  text-align: center;
  margin: 0;
}
