@import '../../../styles/typography.css';

.Tooltip__tooltip.MuiTooltip-tooltip {
  --vertical-margin: var(--standard-padding-s);
  --horizontal-margin: var(--standard-padding-xs);
  
  @extend .caption;
  color: var(--base-color-neutral-0);
  padding: var(--standard-padding-xs) var(--standard-padding-s);
  background-color: var(--base-color-neutral-900);
  border-radius: var(--border-radius-xs);
  
  
  /* I had to target the div because I ran out of classes to target and they weren't enough. */
  &div.MuiTooltip-tooltipPlacementTop,
  &div.MuiTooltip-tooltipPlacementBottom {
    margin-top: var(--vertical-margin);
    margin-bottom: var(--vertical-margin);
  }

  &div.MuiTooltip-tooltipPlacementRight,
  &div.MuiTooltip-tooltipPlacementLeft {
    margin-right: var(--horizontal-margin);
    margin-left: var(--horizontal-margin);
  }
}
