@import '../../../common/buttons/common/button.css';

.MainPanelCoplanarSubpageCard {
  &.MainPanelCoplanarSubpageCard__clickable {
    &:hover {
      box-shadow: 0 0.25rem 1rem 0
        rgb(var(--base-color-neutral-900-rgb-raw), 0.1);
      cursor: pointer;
    }

    &:focus-visible {
      outline-offset: var(--button-focus-visible-outline-offset);
      outline: var(--button-focus-visible-outline);
    }
  }

  .MainPanelCoplanarSubpageCard__content {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--standard-padding-m);

    &:last-child {
      /* Mui tries to enforce bottom padding if we don't do this. */
      padding-bottom: 0;
    }
  }
}
