@import '../../styles/typography.css';

.UserRoleListItem.ListItem {
  height: 4.375rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;

  .UserRoleListItem__personalDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    min-width: 0;

    .ListItemAvatar {
      min-width: 0;

      .Avatar {
        height: 1.5rem;
        width: 1.5rem;

        @media (width > 800px) {
          height: 2rem;
          width: 2rem;
        }
      }
    }

    .ListItemText {
      .MuiListItemText-primary,
      .MuiListItemText-secondary {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.UserRoleListItem .Avatar,
.UserRoleListItem .MuiListItemText-secondary {
  @extend .caption;
}

@media (width > 800px) {
  .UserRoleListItem .UserRoleListItem__personalDetails .Avatar {
    @extend .body-1;
  }
}
