@import '../../styles/typography.css';

.UserRoleList {
  display: flex;
  flex-direction: column;
  gap: var(--standard-padding-m);
  height: 100%;

  .UserRoleList__currentUserSection {
    flex-grow: 0;
  }

  .UserRoleList__otherUsersSection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    .UserRoleList__noUsers {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--standard-padding-s);
    }
  }
}

.UserRoleList .UserRoleList__body1 {
  @extend .body-1;
}

.UserRoleList .UserRoleList__caption {
  @extend .caption;
}