.InputAdornmentButtonText {
  &.MuiButton-root {
    height: 1.75rem;
    gap: var(--standard-padding-xs);
    padding: 0 var(--standard-padding-s);
    > .MuiButton-icon {
      margin: 0;
    }
  }
}
