.HealthStateIcon {
  &.HealthStateIcon__ok {
    background-color: var(--base-color-green-100);
    color: var(--base-color-green-600);
  }
  
  &.HealthStateIcon__warning {
    background-color: var(--base-color-orange-100);
    color: var(--base-color-orange-600);
  }
  
  &.HealthStateIcon__error {
    background-color: var(--base-color-orange-100);
    color: var(--base-color-orange-600);
  }
  
  /* For future state when we display when all components have never connected. */
  &.HealthStateIcon__neutral {
    background-color: var(--base-color-neutral-200);
    color: var(--base-color-neutral-700);
  }
}
